.timer-Scb{
    height: 2px;
    background: var(--timer--scb);
    position: absolute;
    transition: 1s linear;
    width: 10%;
    top: 0  ;
    right: 0;
}
.timer-Scb::after{
    content: '';
    background:var(--nav-blue-active);
    position: absolute;
    width: 3px;
    height: 6px;
    left: 0;
    top: 50%;
    transform: translate(-100%,-50%);

}
.back-scb{
    position: absolute;
    top: 10px;
    width: 90%;
    height: 1px;
    background: rgb(226, 226, 226);
}