.time-date-cuntener{
    width: 100%;
    height: 100%;
    padding: 7.5px;
    border-radius: 10px;
    color: #ffc8dd;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.time-date-cuntener h4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 7.5px;
    color: rgb(37, 150, 190);
    width: 100%;
    margin-bottom: 7.5px;
}
.time-date-cuntener h4 span{
    margin-right: 7.5px;
}

.time{
    width: 50%;
    text-align: center;
    text-align: center;
    display: flex;
    color: rgb(37, 150, 190);
    justify-content: center;
    align-items: center;
}
.live-time{
    font-size: medium;
    font-weight: 500;
    width: 100%;
    padding: 7.5px;
    border: 1px solid rgb(37, 150, 190);
    border-radius: 10px;
    margin-bottom: 7.5px;
    font-size: large;
    font-weight: 500;
    display: flex;
    justify-content: start;
}
.date-cuntener{
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 15px;
    background: rgb(37, 150, 190);
    color: #ffffff;
    border-radius: 10px;

}
.t-date{
    text-align: end;
}
.highlit{
    text-align: end;
    font-weight: 500;
    color: rgb(37, 150, 190);
    background: white;
    border-radius: 6px;
    padding : 0px 7px 3px 7px

}
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .time-date-cuntener{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .time-date-cuntener h4{
        width: fit-content;
        height: 100%;
        margin-left: 7.5px;

    }
    .time{
        width: 60px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .live-time{
        width: fit-content;
        height: 100%;
        margin-bottom: 0;
        margin-left: 7.5px;

    }
    .date-cuntener{
        font-size: 12px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        height: 100%;

    
    }
}
