.main-time-cuntener{
    position: relative;
    flex-grow:3 ;
    padding: 15px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 60px 1fr 1fr 1fr;
    grid-template-rows: 60px 250px calc(100% - 60px - 250px - 30px);
    grid-template-areas: 
        "header header header header"
        "footer time  timer timer"
        "footer todo todo todo";


}

@media screen and (max-width: 1000px) {
    .main-time-cuntener{
        grid-template-columns: 60px 1fr 1fr 1fr;
        grid-template-rows: 60px 60px 250px calc(100% - 60px - 60px - 250px - 45px);
        grid-template-areas: 
            "header header header header"
            "time time  time time"
            "footer timer  timer timer"
            "footer todo todo todo";
    
    
    }
    
}
@media screen and (max-width: 600px) {
    .main-time-cuntener{
        height: calc(100% - 75px);
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 60px  200px calc(100% - 200px - 60px - 60px - 45px  ) 60px;
        grid-template-areas: 
            "header header"
            "todo timer"
            "todo time"
            "footer footer";
    }
}

.todo-timer-cuntener{
    position: relative;
    grid-area: todo;

    /* background-image:  radial-gradient(#D4A373 1.2000000000000002px, transparent 1.2000000000000002px), radial-gradient(#D4A373 1.2000000000000002px, #faedcd 1.2000000000000002px); */
    /* background-image: url(https://thumbs.dreamstime.com/b/sheet-paper-seamless-repeatable-texture-background-sheet-light-beige-blank-paper-seamless-repeatable-texture-background-162581623.jpg); */
    background: url(https://static.vecteezy.com/system/resources/thumbnails/000/374/866/small/Background_1_A.jpg) ;
    background: url(https://static.vecteezy.com/system/resources/previews/005/907/561/original/hand-drawn-citrus-background-lemon-seamless-pattern-yellow-fruit-ornament-for-wallpaper-wrapping-paper-textile-menu-food-package-design-and-decoration-vector.jpg);
    background-size: 500px !important;
    background-repeat: repeat;

    background-size: 48px 48px;
    background-position: 0 0,24px 24px;

    border-radius: 10px;
    box-shadow: var(--sh-b);

}
.main-time-cuntener footer{
    grid-area: footer;
    background: white;
    border-radius: 10px;
    box-shadow: var(--sh-b);

}
.time-date{
    grid-area: time;
    background: white;
    border-radius: 10px;
    box-shadow: var(--sh-b);

}
.time-header{
    grid-area: header;
    background: #FAEDCD;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--sh-b);

}
.timer{
    grid-area: timer;
    border-radius: 10px;
    background: var(--mian-timer-red);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: medium;
    position: relative;
    box-shadow: var(--sh-b);
}
.show-time{
    font-size: 50px;
    
}
.timer .control{
    display: flex;
}
.timer .control button{
    /* border: none; */
    margin: 1px;
    display: flex;
    justify-content: center;
    color: rgb(37, 150, 190) ;
    align-items: center;

}
.timer .control .s-button{
    font-size: 20px;
    width: 50px ;
    /* border: 1px solid #6090e9; */
    background: #e3eeff;
    /* border-radius: 10px; */
    
}

.timer .control .l-button{
    /* border-radius: 10px; */
    font-size: 30px;
    width: 100px;
    color: white;
    background: rgb(37, 150, 190);

}

.currentPosition{   
    padding: 5px 10px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    transition: 0.5s;
}   