.cuntener-t-b{
    flex-grow: 1;
}
.padding-time{
    padding-left: 10%;
    padding-right: 10%;

}
.timer{
    flex-grow: 1;
    height: 200px;
    background: var(--mian-timer-red);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: medium;
    position: relative;
    transition: 2s;

}
.show-time{
    font-size: 50px;
    
}
.timer .control{
    display: flex;
}
.timer .control button{
    background: var(--buttom);
    border: none;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.s-button{
    font-size: 20px;
    width: 50px ;
    
}

.l-button{
    font-size: 30px;
    width: 100px;
}

