
.main-cuntener{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    position: relative;
    overflow-y: auto;
    border-radius: 10px;
    padding: 15px;
}
.setting-cuntener{
    width: 100%;
    background: white;
    border-radius: 10px;
}
.settings{
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: start;
    border-radius: 10px;
    padding: 15px;
    box-shadow: var(--sh-b);


}
.range-inputs{
    border: 1px solid #9db4c0;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.settings .range{
    padding:  5px 0;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.settings .range span{
    text-align: end;
    margin-left: auto;
}
.settings .range input {
    width: 150px;
}
.settings .range .input-show{
    width: 40px;
    text-align: center;
}

.settings .tagles-setting{
    border: 1px solid #9db4c0;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 350px;

}
.tagles-setting .tagle {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}
.tagles-setting .tagle input {
    width: 20%;
    margin-left:40%;
    height: 20px;
}
.tagles-setting .tagle span{
    
    width: 30%;
    text-align: end;
}
.setting-header{
    box-shadow: var(--sh-b);
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}
.setting-header h3{
    margin-right: 15px;
}

.number-setting{
    border: 1px solid #9db4c0;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    border-radius:15px ;
    font-size: small;
    margin-bottom: 10px;
}

.number-setting .number{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.number-setting .number span {
    margin-left: auto;
}
.number-setting .number input {
    margin-left: 38px;
}
.number-setting button{
    border: 4px #00000040 solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
    margin-left: 1px;
}

.anim-one{
    scale: 0;
    animation: po 0.1s 0s forwards ease-in-out;
}
.anim-two{
    scale: 0;
    animation: po 0.1s 0.1s forwards ease-in-out;
}
.anim-three{
    scale: 0;
    animation: po 0.1s 0.2s forwards ease-in-out;
}
.anim-four{
    scale: 0;
    animation: po 0.1s 0.3s forwards ease-in-out;
}

@keyframes po {
    from{
        opacity: 0.5;
        scale: 0.9;
    }to{
        opacity: 1;
        scale: 1;
    }
    
}

@media screen and (max-width : 14000px) {

    .settings{
    
        flex-direction: column;
        justify-content: end;
        align-items: end;

    }
    .range-inputs{
        margin-left: 0;
        margin-bottom: 10px;
    }
    .number-setting{
    }
    .settings .tagles-setting{
        margin: 0;
        margin-bottom: 10px;    
    }
}

@media screen and (max-width : 1000px){
    .settings{
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

}
@media screen and (max-width : 600px){
    .setting-header{

        justify-content: center;
    
    }
}