.sideBar {
    width: 240px;
    margin: 15px;
    margin-left: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: var(--side-bar);
    text-align: center ; 
    overflow: hidden;
    color: #3d3d3d;
    box-shadow: var(--sh-b);

}



.icon{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
 
}
.logo {
    flex: 1;
    margin-top: 10px;
}

.pages{
    flex:5;
}
.cuntener-icon{
    display: flex;
    align-items: center;
    justify-content: end;
    /* background: var(--side-bar); */
    width: 100%;
    height: 100%;
    padding-right: 10px;
    transform: translate(0px , 0);
    transition: 0.2s;
}

.icon .nav-link{
    position: relative;
    transition:  0.3s ;
    display: flex;
    height: 40px;
    border-radius: 10px;
    margin: 10px;

    

}
.sidebar-po{
    margin-right: 20px;
    font-size: 15px;
    font-weight: 500;

}
.icon .active {
    background: hsla(0, 0%, 0%, 0.2);
    overflow: hidden;
}
.icon .active::after{
    position: absolute;
    content: "";
    width: 5px;
    height: 35px;
    background: rgb(69, 117, 206);
    right: 1px;
    top: 50%;
    transform: translate(0,-50%);
    animation: active 0.2s ease-in-out  forwards ;
}
@keyframes 
active {
    from{
        right: -50px;
        background: rgba(69, 117, 206, 0);
    }to{
        right: 1px;
        background: rgb(69, 117, 206);
        width: 5px;
    }
    
}


@media screen and (max-width: 1000px) {
    .sideBar{
        flex-grow:unset;
        max-width: unset;
        min-width: 60px;
        width: 60px;

        
    }
    .sidebar-po{
        margin-right: 20px;
        font-size: 15px;
        font-weight: 500;
        display: none;
    
    }
    
}

@media screen and (max-width: 600px) {
    .sideBar{
        flex-direction: row;
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 0;
    }
    .icon{
        display: flex;
        flex-direction: row;
        justify-content: center;
     
    }
    .icon .active::after{
        display: none;
    }
    .cuntener-icon{
        justify-content: center;
        width: 50px;
        padding: 0;
    }
}
