.show-todo-list{
    width: 100%;
    padding: 0 ;
    margin-top: 1px;
    /* background-color: #ffffff; */
    color: #FAEDCD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 2s;
    
}
.show-todo-list ul{
    width: 100%;
}
.show-todo-list ul li{
    position: relative;
    margin-bottom: 1px;
    border-radius: 10px;
    width: 100%;
    color: #FAEDCD;
    background: #d49a61d0;
    backdrop-filter:blur(1px);
    padding: 10px;
    padding-right: 10px;
    text-align: end;
    font-size: 12px;
    display: flex;
    flex-direction: row-reverse;
    

}
.show-todo-list ul li .noteTodo{
    flex-grow: 1;
}
.show-todo-list ul li .noteTodo p{
    
    padding-right: 10px;
    /* width: calc(100% - 30px); */
}
.show-todo-list ul li .noteTodo h3{
    padding: 5px;
    padding-right: 10px;
}
.show-todo-list ul li button{
    color: white;
    width: 100%;
    height: 100%;
    font-size: 15px;
}
.show-todo-list ul li .complete{
    color: rgb(60, 212, 30);
    animation: comp 0.1s ;

}
/* @keyframes comp {
    from{
        transform: translate(-200px,-200px) scale(10);
    }
    to{
        transform: translate(-100%,-50%) scale(1.2);
    }
    
} */
.show-todo-list ul li .check{
    color: #FAEDCD;
}
.show-todo-list ul li .checkmark:hover{

}

.show-todo-list ul li .checkmark{
    background: transparent;
    /* position: absolute;
    top: 50%;
    left: 0; */
    /* transform: translate(-100%,-50%) scale(1.5); */
}

.show-todo-list ul li .edit{
    color: #FAEDCD;
    background: var(--input-backgrund );
    background: transparent;
}
.show-todo-list ul li .edit:hover{
    
   
}

.show-todo-list ul li .delete{
    color: #FAEDCD;
    background: var(--input-backgrund );
    background: transparent;
}
.show-todo-list ul li .delete:hover{
    
   
    color: rgb(253, 41, 41);
}

.show-todo-list ul {
    width: 100%;
}
.color-todo{
    border-radius: 10px;
}
.color-todo div{
    margin: 5px;
}
.button-cunteber-todo{
    background: rgb(37, 150, 190);
    border-radius: 10px;
    width: 30px;
    padding: 5px 0px;
    /* width: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: blue; */
}