.show-todo-list{
    width: 100%;
    padding: 0 ;
    margin-top: 1px;
    /* background-color: #ffffff; */
    color: #FAEDCD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 2s;
    
}
.show-todo-list ul{
    width: 100%;

}

.show-todo-list ul li{
    position: relative;
    margin-bottom: 1px;
    border-radius: 10px;
    width: 100%;
    color: #FAEDCD;
    background: #0000005e;
    backdrop-filter:blur(2px);
    padding: 10px;
    text-align: end;
    font-size: 12px;
    display: flex;
    flex-direction: row-reverse;
}


.show-todo-list ul li .noteTodo{
    flex-grow: 1;
    padding: 7.5px;
}
.show-todo-list ul li .noteTodo p{
    padding-right: 4px;
    margin: 2px;
    padding: 3px;
    width: fit-content;
    margin-left: auto;
}
.show-todo-list ul li .noteTodo h3{
    margin: 2px;
    padding: 3px;
    width: fit-content;
    margin-left: auto;
    /* padding-right: 10px; */
    color: rgb(250, 250, 250);
}
.show-todo-list ul li button{
    color: white;
    width: 100%;
    height: 100%;
    font-size: 15px;
}
.show-todo-list ul li .complete{
    color: rgb(60, 212, 30);
    animation: comp 0.1s ;

}
/* @keyframes comp {
    from{
        transform: translate(-200px,-200px) scale(10);
    }
    to{
        transform: translate(-100%,-50%) scale(1.2);
    }
    
} */
.show-todo-list ul li .check{
    color: #cacaca;
}
.show-todo-list ul li .checkmark:hover{

}

.show-todo-list ul li .checkmark{
    background: transparent;
    /* position: absolute;
    top: 50%;
    left: 0; */
    /* transform: translate(-100%,-50%) scale(1.5); */
}

.show-todo-list ul li .edit{
    color: #cacaca;
    background: var(--input-backgrund );
    background: transparent;
}
.show-todo-list ul li .edit:hover{
    
   
}

.show-todo-list ul li .delete{
    color: #cacaca;
    background: var(--input-backgrund );
    background: transparent;
}
.show-todo-list ul li .delete:hover{
    
   
    color: rgb(253, 41, 41);
}

.show-todo-list ul {
    width: 100%;
}
.color-todo{
    border-radius: 10px;
}
.color-todo div{
    margin: 5px;
}
.button-cunteber-todo{
    background: rgb(37, 150, 190);
    border-radius: 10px;
    width: 30px;
    padding: 5px 0px;
    /* width: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: blue; */
}

@media screen and (max-width : 600px){
    .show-todo-list ul li{
        margin-bottom: 15px;
        border-radius: 10px;
        flex-direction: column;
        align-items: end;

    }
    .button-cunteber-todo{
        position: absolute;
        top: -4px;
        left: 0;
        transform: translate(-5px,0px);

        background: rgb(37, 150, 190);
        width: 100px;
        padding: 5px 0px;

        flex-direction: row;
        justify-content: center;
    }
    .color-todo{
        position: absolute;
        top: -4px;
        left: calc(100% + 5px);
        transform: translate(-100%,0);
        border-radius: 10px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .color-todo div{
        margin: 5px;
    }
}