
.App {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    background-color: var(--background);
    transition: background-color 2s;
}
@media screen and (max-width: 600px) {
    .App{
        flex-direction: column;
    }
}


.main-cuntener{
    flex-grow: 1;
    padding:  30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    overflow-y: auto;
}

