
.App {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
    background: var(--background);
}


.main-cuntener{
    width: calc(100% - 250px);
    padding:  30px;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    overflow-y: auto;
}

