body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input { 
  outline: none;
  border: none; 
}

*{
  margin: 0;

}
a {
  color: inherit;
}
#root {
  width: 100%;
  height: 100vh;
  min-width: 800px;
  max-height: 800px;
  
  color: #1a1a1a;
  --mian-timer-red : #ffffff;
  --background : #f0eefc;
  --nav-blue-active : #6075e9;
  --buttom : #6075e9;
  --side-bar: #ffffff;
  --timer--scb : black;

  

}
a:link {
   text-decoration: none; 
}
