body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,textarea{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input { 
  outline: none;
  border: none; 
}

*{
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
a {
  color: inherit;
}
#root {
  width: 100%;
  height: 100vh;
  min-width: 500px;
  max-height: 500px;
  
  color: #585858;
  --mian-timer-red : #ffffff;
  --background : #f2e9e4;
  --nav-blue-active : #6075e9;
  --buttom : #6075e9;
  --side-bar: #fafafa;
  --timer--scb : black;
  --sh-b : 2px 2px 1px 2px rgba(0, 0, 0, 0.137);
  

}
a:link {
   text-decoration: none; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button{
  background: transparent;
  border: none;
  cursor: pointer;
}
.box-shadow-5{
  /* box-shadow: inset -5px -1px 0pxrgba(0, 0, 0, 0.226); */
}